.contact_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact_details a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}
.contact_details a svg {
    vertical-align: -3px;
}
.contact_form .btn {
    background-color: #0161b7;
    border: none;
}
@media screen and (max-width: 355px) {
    .contact_form .our_staff {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .contact_form .our_staff img {
        width: 100%;
        margin-right: 0 !important;
    }
}